In [1]:
import pandas as pd
import numpy
import math
import statsmodels.stats.api as sms
import scipy.stats as st
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

In [2]:
raw_data = pd.read_csv('ab_data_kaggle.csv')
raw_data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [3]:
new_data = raw_data.copy()
print("Number of rows:", new_data.shape[0], "Number of columns:", new_data.shape[1])

Number of rows: 294478 Number of columns: 5

In [4]:
new_data.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [5]:
new_data['group'].value_counts()

treatment    147276
control      147202
Name: group, dtype: int64

In [6]:
wrong_data_1 = (new_data['group'] == 'control') & (new_data['landing_page'] == 'new_page')
wrong_data_1

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Length: 294478, dtype: bool

In [7]:
index_to_drop1 = new_data[wrong_data_1].index
index_to_drop1

Int64Index([    22,    240,    490,    846,    850,    988,   1198,   1354,
              1474,   1877,
            ...
            293393, 293480, 293568, 293662, 293888, 293894, 293996, 294200,
            294253, 294331],
           dtype='int64', length=1928)

In [8]:
new_data = new_data.drop(index_to_drop1)

In [9]:
new_data.shape

(292550, 5)

In [10]:
wrong_data_2 = (new_data['group'] == 'treatment') & (new_data['landing_page'] == 'old_page')
wrong_data_2

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Length: 292550, dtype: bool

In [11]:
index_to_drop2 = new_data[wrong_data_2].index
index_to_drop2

Int64Index([   308,    327,    357,    685,    713,    776,    889,   1037,
              1106,   1376,
            ...
            293240, 293302, 293391, 293443, 293530, 293773, 293817, 293917,
            294014, 294252],
           dtype='int64', length=1965)

In [12]:
new_data = new_data.drop(index_to_drop2)
new_data.shape

(290585, 5)

In [13]:
new_data['group'].value_counts()

treatment    145311
control      145274
Name: group, dtype: int64

In [14]:
new_data.drop_duplicates(subset = 'user_id', keep = 'first', inplace = True)
print(new_data['user_id'].count())
print(new_data['user_id'].nunique())

290584
290584

In [15]:
control_user_index = (new_data['group'] == 'control')
print(control_user_index)

0          True
1          True
2         False
3         False
4          True
          ...
294473     True
294474     True
294475     True
294476     True
294477    False
Name: group, Length: 290584, dtype: bool

In [16]:
control_conversions = new_data['converted'][control_user_index].sum()
control_conversions

17489

In [17]:
control_users_sum = new_data['converted'][control_user_index].count()
control_users_sum

145274

In [18]:
print("Percentage of control users who converted: ", round((control_conversions / control_users_sum)*100, 2), "%")

Percentage of control users who converted:  12.04 %

In [19]:
treatment_user_index = (new_data['group'] == 'treatment')
print(control_user_index)
treatment_conversions = new_data['converted'][treatment_user_index].sum()
print(control_conversions)
treatment_users_sum = new_data['converted'][treatment_user_index].count()
print(treatment_users_sum)
print("Percentage of control users who converted: ", round((treatment_conversions / treatment_users_sum)*100, 2), "%")

0          True
1          True
2         False
3         False
4          True
          ...
294473     True
294474     True
294475     True
294476     True
294477    False
Name: group, Length: 290584, dtype: bool
17489
145310
Percentage of control users who converted:  11.88 %